body {
    background-color: #393939;
    margin: 0;
}

header {
    text-align: center;
    font-size: 4vmax;
    background-color: #B7Bfcd;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    text-align: center;
    font-size: 1.5vmax;
    background-color: #B7Bfcd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: #393939;
}

.navbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partpage {
    flex: 20%;
    margin-bottom: 2%;
}

main {
    margin-top: 10vh;
    margin-left: 2vw;
    margin-right: 4vw;
    font-family: sans-serif;
    color: #c5c5c5
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    width: 100%;
    height: auto;
}

.itempic {
    width: 40%;
    height: auto;
    margin-bottom: 2%; 
}

.itemdetail {
    width: 40%;
    height: auto;
    text-align: center;
    color: #c5c5c5;
    font-size: 1.5vmax;
}

